h1 { 
}
body {
   background: url(opaque_background.jpg) no-repeat center center;
   background-attachment: fixed;
   text-align: center;
  }
#header {
	z-index: 1;
	position: fixed;
	width: 97.5%;
	margin-top: -20px;
	height: 60px;
	background-color: #668284;
	margin-bottom: 10px;
}
