h1 { 
}
body {
   background: url(opaque_background.jpg) no-repeat center center;
   background-attachment: fixed;
   text-align: center;
   }
#container {
	width: 800px;
	margin: 40px auto 60px;
	background: rgba(255,255,255, 0.7);
	border-radius: 25px;
        }

